<footer class="relative h-20 mt-8">
<div class="border-t border-[#444] absolute left-0 bottom-0 w-full py-6 pb-7 text-center text-gray-400">
    <p class="text-sm ">Served with AGPL-3.0 license (<span id="current-year"></span>) (ง︡'-'︠)ง</p>
    <p class="text-sm ">Copyright © 2023-present reeceharris.net</p>
</div>
</footer>

<script>$('#current-year').text(new Date().getFullYear())</script>