<footer class="relative h-20 mt-8">
<div class="border-t border-[#444] absolute left-0 bottom-0 w-full py-6 pb-7 text-center text-gray-400">
    <p class="text-sm">Copyright © 2022-present reeceharris.net</p>
    <p class="text-sm"><a href="/privacy-policy" class="text-blue-400">Privacy policy</a> | <a href="/faq" class="text-blue-400">FAQ</a> | <a href="/blogs" class="text-blue-400">Latest articles</a> | <a href="/rss" class="text-blue-400">RSS</a></p>
</div>
</footer>