<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NQL9JSH');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQL9JSH"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>

<nav class="fixed border-[#444] border-dotted border-b-[1px] px-2 sm:px-4 py-2.5 rounded bg-[#222222] w-screen z-[100] top-0">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <a href="/" class="flex items-center">
                <span id="ascii-faces" class="text-white text-xl">( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)</span>
            </a>
            <button id="navbar-btn" class="inline-flex items-center p-2 ml-3 text-sm text-white md:hidden">
                <span class="sr-only">Open main menu</span>
                <svg id="close" class="hidden" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                <svg id="open" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-content">
                <ul class="flex flex-col py-4 mt-4 border-[#444] border-t-[1px] md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0">
                    <li>
                        <a href="/" class="block py-2 pl-3 pr-4 text-white hover:text-gray-300 md:p-0 font-semibold">HOME</a>
                    </li>
                    <li class="text-white hidden md:block font-semibold">|</li>
                    <li>
                        <a href="/blogs" class="block py-2 pl-3 pr-4 text-white hover:text-gray-300 md:p-0 font-semibold">BLOG</a>
                    </li>
                    <li class="text-white hidden md:block font-semibold">|</li>
                    <li>
                        <a href="/sandbox" class="block py-2 pl-3 pr-4 text-white hover:text-gray-300 md:p-0 font-semibold">SANDBOX</a>
                    </li>
                    <li class="text-white hidden md:block font-semibold">|</li>
                    <li>
                        <a href="/portfolio" class="block py-2 pl-3 pr-4 text-white hover:text-gray-300 md:p-0 font-semibold">PORTFOLIO</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    $('#navbar-btn').click(() => {
        $('#navbar-content').toggleClass('hidden')
        $('#navbar-btn #close, #navbar-btn #open').toggleClass('hidden')
    })
</script>
