<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SITE META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="publisher" content="reeceharris.net">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all">
        <!-- SEO TAGS -->
        <title>Sandbox | AI Object detection</title>
        <link rel="canonical" href="<%= locals.url %>">
        <meta name="description" content="This object detector is able to identify and locate objects within an image, and will provide the class the model believes the object belongs to. Keep in mind that the model is trained on 80 specific classes.">
        <!-- SOCIAL TAGS -->
        <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
        <meta property="og:title" content="Sandbox | AI Object detection" />
        <meta property="og:description" content="This object detector is able to identify and locate objects within an image, and will provide the class the model believes the object belongs to. Keep in mind that the model is trained on 80 specific classes.">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= locals.url %>" />
        <!-- TWITTER TAGS -->
        <meta name="twitter:title" content="Sandbox | AI Object detection">
        <meta name="twitter:description" content="This object detector is able to identify and locate objects within an image, and will provide the class the model believes the object belongs to. Keep in mind that the model is trained on 80 specific classes.">
        <!-- ASSETS -->
<script src="/static/js/tailwind.min.js" crossorigin="anonymous"></script><link rel="stylesheet" href="/static/css/style.css">        
        <script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>
    </head>

    <body class="bg-[#222222]">
        
        <%- include('../components/header.ejs'); %>

        <main class="mt-12" >
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

                <div class="mx-auto  mb-6">
                    <div class="flex gap-3">
                        <h2 class="mb-4 text-3xl lg:text-4xl tracking-tight font-extrabold text-white">AI object detection</h2>
                        <div class="mb-4 text-xl lg:text-2xl tracking-tight font-extrabold text-white self-end">
                            <span id="status" class="text-gray-500">loading...</span>
                        </div>
                    </div>
                    <p class="font-light text-gray-200 sm:text-xl">This object detector is able to identify and locate objects within an image, and will provide the class the model believes the object belongs to. Keep in mind that the model is trained on <a target="_blank" href="https://github.com/ultralytics/yolov3/blob/master/data/coco.yaml#L18" class="text-blue-400">80 specific classes</a>. The detector is built using <a target="_blank" href="https://github.com/ultralytics/yolov3" class="text-blue-400">YOLOv3</a>, which was trained on a vast dataset of labeled images called <a target="_blank" href="https://cocodataset.org/" class="text-blue-400">COCO</a>, and was once considered the best among fast object detectors. The implementation of this object detector in this project was heavily inspired by the work of <a target="_blank" href="https://www.linkedin.com/in/vladimir-iashin/" class="text-blue-400">Vladimir Iashin</a>, but all code was written from scratch and no code was stolen. This is a related <a href="https://reeceharris.net/blog/ai-object-detection-101-how-to-create-an-ai-object-detection-system" class="text-blue-400">article</a> on how machine vision works.</p>
                    <div class="text-sm mt-4 text-gray-300">We temporarily store your image on our server, but for added security, all images are deleted every 5 minutes. For more information, please refer to our <a href="/privacy-policy#temporary-image-storage" class="font-medium text-gray-400 hover:underline">Privacy Policy</a>.</div>
                </div> 

                <div class="relative flex flex-col text-white rounded w-1/2">

                        <div class="mb-8">
                            <div class="sm:flex sm:items-center sm:space-x-2 space-y-1 sm:space-y-0">
                                <label id="upload" for="file-input" type="button" class="inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" role="button">Upload Image</label>
                                <button id="processing" class=" hidden inline-flex p-2.5 px-5 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c] items-center">
                                    <svg aria-hidden="true" role="status" class="inline w-4 h-4 mr-3 text-white animate-spin" viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z" fill="#E5E7EB"/><path d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z" fill="currentColor"/></svg>
                                    Processing...
                                </button>
                                <button id="reset-sandbox" style="margin: 0;" class="hidden inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" onclick="window.location.reload();">Reset Sandbox</button>
                                <button id="random-image" class="inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]">Random image</button>
                            </div>
                            <input id="file-input" type="file" accept="image/*" class="hidden">
                        </div>
        
                        <div>
                            <div id="preview"></div>
                        </div>

                </div>
            </div>
        </main>
        
        <%- include('../components/footer.ejs'); %>

    </body>

    <script src="https://www.google.com/recaptcha/api.js?render=6LckWSkkAAAAAPXSePkWq0nb7sWXwRSpZmCWuNsL"></script>
    <script src="/static/js/exif.min.js"></script>
    <script src="/static/js/detector.min.js"></script>

    <script>
        $('#preview').click('img', function() {
            $('#preview').toggleClass('fixed').toggleClass('flex').toggleClass('cursor-pointer').toggleClass('items-center').toggleClass('justify-center').toggleClass('h-screen').toggleClass('w-screen').toggleClass('top-0').toggleClass('left-0').toggleClass('z-[200]').toggleClass('bg-[#000000c2]')
            $('#preview img').toggleClass('py-6').toggleClass('px-6').toggleClass('cursor-pointer');
        })
    </script>

    <script>$('#current-year').text(new Date().getFullYear())</script>

</html>

