<!DOCTYPE html>
<html lang="en">
<head>
    <!-- SITE META -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO TAGS -->
    <title>Reeceharris.net | Explore our tech blog or maybe mess with the interactive sandbox.</title>
    <meta name="description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
    <meta name="author" content="Reece Harris">
    <meta name="keywords" content="ai,blog,technology">
    <!-- SOCIAL TAGS -->
    <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
    <meta property="og:title" content="Reeceharris.net | Explore our tech blog or maybe mess with the interactive sandbox." />
    <meta property="og:description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://reeceharris.net/" />
    <!-- TWITTER TAGS -->
    <meta name="twitter:title" content="Reeceharris.net | Explore our tech blog or maybe mess with the interactive sandbox.">
    <meta name="twitter:description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
    <meta name="twitter:site" content="@n0treeceharris">
    <!-- ASSETS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

</head>

<body class="bg-[#222222]">
    <%- include('../components/header.ejs'); %>
    
    <%- include('../components/footer.ejs'); %>

</body>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
<script>$('#current-year').text(new Date().getFullYear())</script>

</html>

