<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SITE META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="publisher" content="reeceharris.net">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all">
        <!-- SEO TAGS -->
        <title>Sandbox</title>
        <link rel="canonical" href="<%= locals.url %>">
        <meta name="description" content="Experiment with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <!-- SOCIAL TAGS -->
        <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
        <meta property="og:title" content="Sandbox" />
        <meta property="og:description" content="Experiment with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= locals.url %>" />
        <!-- TWITTER TAGS -->
        <meta name="twitter:title" content="Sandbox">
        <meta name="twitter:description" content="Experiment with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <!-- ASSETS -->
        <script src="/static/js/tailwind.min.js" crossorigin="anonymous"></script>
        
        <script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>
    </head>

    <body class="bg-[#222222]">
        
        <%- include('../components/header.ejs'); %>

        <div class="pt-[5rem]">
            <section class="grid gap-8 md:grid-cols-2 lg:grid-cols-3 py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-12">

                <div class="max-w-sm flex flex-col">

                    <div class="grow">
                        <img src="/static/svg/eyes.svg" height="111" class="h-[111px] mx-auto"  >

                        <a href="sandbox/detector">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">YOLOV3 image detection AI</h5>
                        </a>
                        <p class="mb-3 font-light text-white">The yolov3 image detection model is capable of identifying the positions and outlining up to 80 distinct objects, including cars and animals. However, this is just a small glimpse of the immense potential that advanced image detection models possess.</p>
                    </div>

                    <a href="sandbox/detector" class="inline-flex items-center font-medium text-white hover:underline">
                        Try now
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>

                <div class="max-w-sm flex flex-col border-[#444] border-t-[1px] pt-8 md:pt-0 md:border-none ">

                    <div class="grow">
                        <img src="/static/svg/ants.svg" height="111" class="h-[111px] mx-auto"  >

                        <a href="https://path.reeceharris.net">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Path finding algorithms</h5>
                        </a>
                        <p class="mb-3 font-light text-white">Pathfinding algorithms have become a fundamental component of modern technology. They are utilized in a wide range of applications, from networking to the maps on your phone. I encourage you to experiment with different algorithms to gain a better understanding of how they work.</p>
                    </div>
                    
                    <a href="https://path.reeceharris.net" class="inline-flex items-center font-medium text-white hover:underline">
                        Experiment now
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>

                <div class="max-w-sm flex flex-col border-[#444] border-t-[1px] pt-8 md:pt-0 md:border-none ">

                    <div class="grow">
                        <img src="/static/svg/chess.svg" height="111" class="h-[111px] mx-auto" >

                        <a href="sandbox/nodes">
                            <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Chess bots</h5>
                        </a>
                        <p class="mb-3 font-light text-white">You can have a fun game of chess with my various chess bots, or even better, you can have them play against each other to see which one comes out on top. Additionally, my simple chess API allows you to load your own chess algorithms and test them out. Have fun!</p>
                    </div>

                    <a href="https://chess.reeceharris.net" class="inline-flex items-center font-medium text-white hover:underline">
                        Play now
                        <svg class="ml-2 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    </a>
                </div>

            </section>
        </div>
        
        <%- include('../components/footer.ejs'); %>

    </body>

    <script>$('#current-year').text(new Date().getFullYear())</script>

</html>

