<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta content="text/html;charset=UTF-8" http-equiv="content-type">
    <title>reeceharris.net | VVV Three.js</title>

    <link href="/static/assets/styles/screen.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/nodes/fonts/icomoon/style.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/nodes/scripts/bower_components/codemirror/lib/codemirror.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/nodes/scripts/bower_components/codemirror/theme/monokai.css" media="all" rel="stylesheet" type="text/css">
    <link href="/static/nodes/scripts/bower_components/codemirror/addon/lint/lint.css" media="all" rel="stylesheet" type="text/css">
    <link href="favicon2.ico" rel="shortcut icon" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
  
    <style>
      #library, 
      #sidebar, 
      #timeline, 
      body, 
      #main-menu-bar, 
      #sidebar .ui-tabs-nav, 
      .ui-layout-resizer {
        background-color: #222222;
      }

      .node {
        background-color: #444444;
      }
    </style>
  
  
  </head>
  <body class="hidden-timeline">
    <header>
      <div id="logo">
        <h1>reeceharris.net | VVV Three.js</h1>
      </div>
    </header>
    <footer id="footer">created by idflood.com</footer>

    <!-- ThreeNodes.Core dependencies -->
    <script src="/static/nodes/scripts/libs/jquery-2.0.3.js"></script>
    <script src="/static/nodes/scripts/libs/underscore.js"></script>
    <script src="/static/nodes/scripts/libs/Backbone.js"></script>
    <script src="/static/nodes/scripts/libs/Three.js"></script>

    <!-- ThreeNodes.UI dependencies -->
    <script src="/static/nodes/scripts/libs/jquery-ui/js/jquery-ui.js"></script>
    <script src="/static/nodes/scripts/libs/jquery.layout-latest.js"></script>
    <script src="/static/nodes/scripts/libs/tree.jquery.js"></script>
    <script src="/static/nodes/scripts/libs/raphael-min.js"></script>
    <script src="/static/nodes/scripts/libs/jshint.js"></script>

    <!-- 3d fonts, only needed if using the TextGeometry node -->
    <script src="/static/assets/fonts/helvetiker_regular.typeface.js"></script>
    <script src="/static/assets/fonts/helvetiker_bold.typeface.js"></script>
    <script src="/static/assets/fonts/optimer_regular.typeface.js"></script>
    <script src="/static/assets/fonts/optimer_bold.typeface.js"></script>
    <script src="/static/assets/fonts/gentilis_regular.typeface.js"></script>
    <script src="/static/assets/fonts/gentilis_bold.typeface.js"></script>
    <script src="/static/assets/fonts/droid/droid_sans_regular.typeface.js"></script>
    <script src="/static/assets/fonts/droid/droid_sans_bold.typeface.js"></script>
    <script src="/static/assets/fonts/droid/droid_serif_regular.typeface.js"></script>
    <script src="/static/assets/fonts/droid/droid_serif_bold.typeface.js"></script>

    <!-- Timeline related scripts -->
    <script src="/static/nodes/scripts/libs/timeline.js/timeline.js"></script>
    <script src="/static/nodes/scripts/libs/timeline.js/timeline-gui.js"></script>

    <!-- Save and load dependencies -->
    <script src="/static/nodes/scripts/libs/Blob.js"></script>
    <script src="/static/nodes/scripts/libs/FileSaver.min.js"></script>
    <script src="/static/nodes/scripts/libs/json2.js"></script>

    <!-- ThreeNodes.js -->
    <script src="/static/assets/scripts/ThreeNodes.Core.js"></script>
    <script src="/static/assets/scripts/ThreeNodes.NodeTypes.js"></script>
    <script src="/static/assets/scripts/ThreeNodes.NodeTypes.Three.js"></script>
    <script src="/static/assets/scripts/ThreeNodes.UI.js"></script>
    <script>
      var core = new ThreeNodes.Core();
      var ui = new ThreeNodes.UI(core);

      $('#ui-id-29').append('<li><span class="ui-corner-all">Made by <a style="right:.5rem;" href="https://github.com/idflood">idflood</a></span></li>')

    </script>
  </body>
</html>