<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- SITE META -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="publisher" content="reeceharris.net">  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="all">
        <!-- SEO TAGS -->
        <title>Reeceharris.net | Explore our tech blog or maybe mess with the interactive sandbox.</title>
        <link rel="canonical" href="<%= locals.url %>">
        <meta name="description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <meta name="author" content="Reece Harris">
        <meta name="keywords" content="ai,blog,technology">
        <!-- SOCIAL TAGS -->
        <meta property="og:site_name" content="( ͡°( ͡° ͜ʖ( ͡° ͜ʖ ͡°)ʖ ͡°) ͡°)">
        <meta property="og:title" content="Reeceharris.net | Explore our tech blog or maybe mess with the interactive sandbox." />
        <meta property="og:description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <meta property="og:type" content="website" />
        <meta property="og:url" content="<%= locals.url %>" />
        <meta name="theme-color" content="#ffffff">
        <!-- TWITTER TAGS -->
        <meta name="twitter:title" content="Reeceharris.net | Explore our tech blog or maybe mess with the interactive sandbox.">
        <meta name="twitter:description" content="Stay informed and engaged by exploring our tech blog or experimenting with the interactive sandbox, where you can test cutting-edge technology and tools.">
        <meta name="twitter:site" content="@n0treeceharris">
        <!-- ASSETS -->
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.2/flowbite.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

    </head>

    <body class="bg-[#222222]">

        <%- include('../components/header.ejs'); %>

        <section class="py-10 sm:py-16 lg:py-24 mt-[6rem]">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
                    <div>
                        <h1 class="text-4xl font-bold text-white lg:text-5xl">
                            Empowering innovation, shaping tomorrow.
                        </h1>

                        <p class="mt-5 text-base text-white sm:text-lg">Welcome to the ultimate destination for all things technology! Our website not only features a cutting-edge blog, filled with the latest news and insights on the tech industry, but also an interactive sandbox where you can experience the power of the latest technology such as AI.</p>

                        <div class="mt-6 sm:flex sm:items-center sm:space-x-6 space-y-1">
                            <a href="/blogs" class="inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" role="button">Explore Articles</a>
                            <a href="/sandbox" class="inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" role="button">Visit Sandbox</a>
                            <a href="#newsletter-signup" class="inline-flex p-2.5 px-4 text-md font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]" role="button">Join Newsletter</button>
                    
                        
                        </div>
                    </div>

                    <div>
                        <img class="w-full  hidden lg:block w-auto h-[27rem]  mx-auto" src="/static/robot-art.svg" alt="" />
                    </div>
                </div>
            </div>
        </section>

        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 border-t-[2px] border-[#444] my-6"></div>

        <section class="py-10 sm:py-16 lg:py-24">
            <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
                <div class="grid grid-cols-1 text-center sm:grid-cols-2 gap-y-8 lg:grid-cols-4 sm:gap-12">
                    
                    <div>
                        <div class="flex items-center justify-center w-[12rem] h-20 mx-auto rounded-full">
                            <img src="/static/serve-art.svg" alt="Character serving pancakes" title="Pancakes ?">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Regular blog articles</h3>
                        <p class="mt-4 text-sm text-gray-100">Stay informed and educated with our regularly updated blog articles on a variety of topics, from artificial intelligence to cyber security.</p>
                    </div>
                    
                    <div>
                        <div class="flex items-center justify-center w-[10rem] h-20 mx-auto rounded-full">
                            <img src="/static/ai-art.svg" alt="Robot" title="Beep Boop">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Artificial intelligence</h3>
                        <p class="mt-4 text-sm text-gray-100">Experience the future of technology in action with our Artificial Intelligence sandbox, where you can test and interact with AI-powered applications and tools.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[12rem] h-20 mx-auto rounded-full">
                            <img src="/static/sword-art.svg" alt="Sword" title="'Tis but a scratch.'">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Interactive sandbox</h3>
                        <p class="mt-4 text-sm text-gray-100">Explore the limits of technology and creativity with our interactive sandbox, featuring a variety of cutting-edge tools and applications for all to experience.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[12rem] h-20 mx-auto rounded-full">
                            <img src="/static/shrug-art.svg" alt="Iconic shrug ascii art" title="What can i say?">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Ascii art themed</h3>
                        <p class="mt-4 text-sm text-gray-100">Step into the world of minimalism and ASCII art with our themed website, featuring a clean and simple design with unique ASCII art elements throughout.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[10rem] h-20 mx-auto rounded-full">
                            <img src="/static/salute-art.svg" alt="Saluting character" title="Scout's honour!">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Ensured privacy</h3>
                        <p class="mt-4 text-sm text-gray-100">We guarantee that any actions you take on our site will not result in your data being shared with advertisers, scammers, or any other unauthorized parties who may wish to know your preferences.</p>
                    </div>
                    
                    <div>
                        <div class="flex items-center justify-center w-[11rem] h-20 mx-auto rounded-full">
                            <img src="/static/hug-art.svg" alt="Hugging character" title="Everybody loves open source">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Open-source</h3>
                        <p class="mt-4 text-sm text-gray-100">We use only open-source and community-maintained services (excluding Cloudflare) to ensure the security and privacy of our users when visiting reeceharris.net</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[10rem] h-20 mx-auto rounded-full">
                            <img src="/static/monocle-art.svg" alt="Character wearing a monocle" title="'To be, or not to be: that is the question'">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">Community authors</h3>
                        <p class="mt-4 text-sm text-gray-100">All of the articles on our blog are written by individuals just like you. If you're interested in becoming an author, please send us an <a href="mailto:reeceharris@email.net" class="text-blue-400">email</a> and we'll be happy to consider your submission.</p>
                    </div>

                    <div>
                        <div class="flex items-center justify-center w-[11rem] h-20 mx-auto rounded-full">
                            <img src="/static/thebird-art.svg" alt="">
                        </div>
                        <h3 class="mt-1 text-xl font-semibold text-white">No ads forever</h3>
                        <p class="mt-4 text-sm text-gray-100">We do not display ads on our platform. However, we kindly ask that you consider donating to help cover the cost of server hosting. You can make a donation through <a href="https://github.com/sponsors/NotReeceHarris" class="text-pink-400">GitHub Sponsors</a>.</p>
                    </div>

                </div>
            </div>
        </section>

        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 border-t-[2px] border-[#444] mt-6"></div>

        <section id="newsletter-signup">
            <div class="pb-20 pt-24 grid max-w-7xl w-[90vw] sm:w-[80vw] md:w-[70vw] lg:w-full px-4 py-2 mx-auto lg:gap-8 lg:grid-cols-12 text-center lg:text-start">
                <div class="mr-auto place-self-center lg:col-span-7">
                    <span class="max-w-2xl text-2xl font-bold tracking-tight leading-none md:text-3xl xl:text-4xl text-white">Sign up for our newsletter</span>
                    <p class="max-w-2xl mb-4 mt-2 font-light text-gray-100 lg:mb-4 md:text-md lg:text-lg text-gray-300">Stay up to date with the latest articles, sandbox tools and updates feel free to sign up with your email.</p>
                    <div>
                        <div class="flex items-center">   
                            <label for="email-input" class="sr-only">Search</label>
                            <div class="relative w-full">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                </div>
                                <input type="email" id="email-input" class="bg-[#222222] border border-[#444] text-white text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5" placeholder="Enter your  email" required>
                            </div>
                            <button id="email-signup" class="p-2.5 ml-2 text-sm font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]">
                                <span>Signup</span>
                            </button>
                            
                        </div>
                        <div class="text-sm mt-4 text-gray-300">We care about the protection of your data <a href="/privacy-policy#email-collection" class="font-medium text-gray-400 hover:underline">Read our Privacy Policy</a>.</div>
                    </div>
                </div>
                <div class="hidden lg:mt-0 lg:col-span-5 lg:flex">
                    <img src="/static/letterbox-art.svg" alt="mockup" class="h-[250px]">
                </div>                
            </div>
        </section>
        
        <script src="https://www.google.com/recaptcha/api.js?render=6LckWSkkAAAAAPXSePkWq0nb7sWXwRSpZmCWuNsL"></script>
        
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

        <script>
        
            $('#email-signup').click(function() {
                grecaptcha.ready(function() {
                    grecaptcha.execute('6LckWSkkAAAAAPXSePkWq0nb7sWXwRSpZmCWuNsL', {action: 'submit'}).then(function(token) {
                        $.ajax({
                            type: "POST",
                            url: "/api/newletter",
                            data: { email: $('#email-input').val(), recaptcha: token },
                            success: function(response) {
                                if(response.data == "success"){
                                    toastr.success('','You are now signed up for email alerts!')
                                }else{
                                    toastr.error('', 'Issue submitting your email.')
                                }
                            }
                        });
                    });
                });
            })
        </script>

        <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 border-t-[2px] border-[#444] my-6"></div>

        <aside aria-label="Latest articles" class="py-8 mt-12 lg:pb-12" id="latest-articles-container">
            <div class="px-4 mx-auto max-w-7xl">
                <h2 class="mb-12 md:mb-8 text-3xl font-bold text-white text-center md:text-left">Latest articles</h2>
                <div class="grid gap-y-12 sm:grid-cols-2 lg:grid-cols-3" id="latest-articles">
                    
                </div>
            </div>
        </aside>

        <script>

            function readingTime(content) {
                    var div = document.createElement("div");
                    div.innerHTML = content;
                    var text = div.textContent || div.innerText || "";
                    const wpm = 225;
                    const words = text.trim().split(/\s+/).length;
                    const time = Math.ceil(words / wpm);
                    div.remove()
                    return time;
            }

            function escapeHtml (string) {
                    var entityMap = {
                        '&': '&amp;',
                        '<': '&lt;',
                        '>': '&gt;',
                        '"': '&quot;',
                        "'": '&#39;',
                        '/': '&#x2F;',
                        '`': '&#x60;',
                        '=': '&#x3D;'
                    };
                    return String(string).replace(/[&<>"'`=\/]/g, function (s) {
                        return entityMap[s];
                    });
            }

            $.get(`/api/latest`, function(data, status){
                    
                if (data.data.length == 0) {
                    $('#latest-articles-container').remove()
                }
                
                data.data.forEach(function(element) {
                        $('#latest-articles').append(`
                                <article class="max-w-xs mx-auto md:mx-0">
                                    <a href="/blog/${element.attributes.slug}" class="hidden md:block">
                                        <img alt="${escapeHtml(element.attributes.banner.data.attributes.alternativeText)}" src="https://cms.reeceharris.net/${element.attributes.banner.data.attributes.url}" class="mb-5 h-[8rem] w-auto object-contain">
                                    </a>
                                    <h3 class="mb-2 text-xl font-bold leading-tight text-white ">
                                        <a href="/blog/${element.attributes.slug}">${element.attributes.title}</a>
                                    </h3>
                                    <p class="mb-4 font-light text-gray-200 ">${element.attributes.description}</p>
                                    <a href="/blog/${element.attributes.slug}" class="inline-flex items-center font-medium underline underline-offset-4 text-gray-200 hover:no-underline">
                                        Read in ${readingTime(element.attributes.content)} minutes
                                    </a>
                                </article>
                            `)
                    })
            });
        </script>
        
        <%- include('../components/footer.ejs'); %>

    </body>

    <script>$('#current-year').text(new Date().getFullYear())</script>

</html>

