<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Not found</title>
<script src="/static/js/tailwind.min.js" crossorigin="anonymous"></script><link rel="stylesheet" href="/static/css/style.css">        <script src="/static/js/jquery.min.js"  crossorigin="anonymous"></script>
        
    </head>

    <body class="bg-[#222222]">
        
        <%- include('../components/header.ejs'); %>

        <section class="mt-20">
            <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
                <div class="mx-auto max-w-screen-sm text-center">
                    <img src="/static/404-error.svg" alt="404">
                    <p class="mb-4 text-3xl tracking-tight font-bold text-white md:text-4xl">Something's missing.</p>
                    <p class="mb-4 text-lg font-light text-gray-100">Sorry, we can't find that page. You'll find lots to explore on the home page. </p>
                    <a href="/" class="inline-flex p-2.5 ml-2 text-sm font-medium text-white bg-[#444] rounded-md border border-[#444] hover:bg-[#4d4c4c]">Back to safety</a>
                </div>   
            </div>
        </section>

        <%- include('../components/footer.ejs'); %>

    </body>

    <script>$('#current-year').text(new Date().getFullYear())</script>

</html>